body {
  font-family: sans-serif;
  /* margin: 20px; */
  font-size: 14pt;
  /* background-color: #ffd3b0; */
}

h1 {
  text-align: center;
}

.holder {
  /* display: flex;
  width: 100%; */
  padding-left: 3rem;
}

.section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.steps {
  /* width: 40%; */
  position:sticky
}

#chart {
  width: 50%;
  margin-right: 5px;
  position: sticky;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 400px;
}

.facts {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: auto;
  height: 60vh;
  position: absolute;
  top: 25%;
  left: 20%;
  right: 20%;
  opacity: 0.8;
}

/* .step { */
  /* margin-top: 50%; */
  /* min-height: 600px;
  flex: 0.2;
  width: 100vw;
  padding-right: 10rem; */
/* } */

.step{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 1;
}

.intro-page {
  position: relative;
}

.intro {
  position: absolute;
  top: 0;
  padding: 3%;
  font-size: 1.5rem;
}

/* .viz {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  flex: 1;
  height: auto;
} */

.idiom {
  flex: 0.8;
  
}

/* .step {
  position: relative;
  display: block;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
} */

.viz {
  top: 0;
  /* width: 80%; */
  /* height: 100vh; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.viz #special {
  width: none ;
}

.viz .active{
  position:-webkit-sticky;
}

.text-container {
  /* width: 45%; */
  padding: 0 2rem;
  box-sizing: border-box;
}

/* .viz-text {
  opacity: 0;
  transition: opacity 0.3s;
}

.viz-text.active {
  opacity: 1;
} */
